<h1>Nom de l'auteur : {{ name|upper}}</h1>
{{ '&HELLO'|lower|trim('&')}}
{% set a = "hello" %}
{% for i in 0..9 %}
    {{ i }}

{% endfor %}
{% set hour = 14%}
​{% if hour < 12 %}

   <p>Bonjour !</p>

{% elseif hour < 18 %}

   <p>Bon après-midi !</p>

{% else %}

   <p>Bonsoir !</p>

{% endif %}


{% if 'Fabien' starts with 'F' %} 

 commence par F

    {% endif %} 

{% if 'Fabien' ends with 'n' %} 

      Finis par n 

{% endif %}