{% extends 'base.html.twig' %}
{% block body %}
<h1>Edit User</h1>

{{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit">Update</button>
{{ form_end(userForm) }}

<a href="{{ path('user_list') }}">Back to list</a>
{% endblock %}
